*,
*::after,
*::before {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1rem;
}

.cell {
    background-color: #0f0f0f;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
}

.cell.cone {
    background-color: yellow;
    background-image: url(../cone.svg);
    background-size: contain;
}

.cell.cube {
    background-color: purple;
    background-image: url(../cube.svg);
    background-size: contain;
}

.cell.cube.selected {
    background: linear-gradient(to bottom left, purple 50%, blue 50%);
}

.cell.cone.selected {
    background: linear-gradient(to bottom left, yellow 50%, blue 50%);
}

.cell.cube.done {
    background: linear-gradient(to bottom left, green 50%, purple 50%);
}

.cell.cone.done {
    background: linear-gradient(to bottom left, green 50%, yellow 50%)
}

.cell.done.selected {
    background: linear-gradient(to bottom left, green 50%, blue 50%);
}

.bottom-bar {
    position: absolute;
    bottom: 2vh;
    width: 80vw;
    left: 1vw;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.under-grid {
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    gap: 1rem;
}

#gridConfirm {
    height: 9vh;
    width: 10vw;
}

#dockArm {
    height: 9vh;
    width: 10vw;
}

.under-grid>.left {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 15%;
    gap: 1.5vh;

}

.under-grid>.middle {
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 1.5vh;
}

.under-grid>.right {
    width: 25%;
}

#cone {
    height: 9vh;
    width: 8vw;
}

#cone-tipped {
    height: 9vh;
    width: 8vw;
}

#cube {
    height: 9vh;
    width: 8vw;
}

.under-grid>.middle>.leds {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#flash-yellow {
    background-color: yellow;
    height: 9vh;
    width: 10vw;
    font-weight: bold;
}

#flash-purple {
    background-color: purple;
    height: 9vh;
    width: 10vw;
    color: white;
    font-weight: bold;
}

#flash-police {
    background: linear-gradient(to left, blue 50%, red 50%);
    height: 9vh;
    width: 10vw;
    color: white;
    font-weight: bold;
}

.under-grid>.middle>.intake-positions {
    margin-left: 1vw;
    width: 50%;
    position: relative;
}

.under-grid>.middle>.intake-positions>* {
    gap: 1.5vh;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}

#wUp {
    height: 10vh;
    width: 10vw;
}

#wDown {
    height: 10vh;
    width: 10vw;
}

.under-grid>.right>.wrist-control {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    gap: 1.5vh;
}

body {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#main {
    display: flex;
    flex-direction: row;
}

#leftside {
    width: 80vw;
}

#rightside {
    width: 20vw;
}