*,
*::after,
*::before {
    box-sizing: border-box;
}

.grid {
    width: min(80vw, 80%);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.cell {
    background-color: #0f0f0f;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
}

.cell.cone {
    background-color: yellow;
    background-image: url(../cone.svg);
    background-size: contain;
}

.cell.cube {
    background-color: purple;
    background-image: url(../cube.svg);
    background-size: contain;
}

.cell.cube.selected {
    background: linear-gradient(to bottom left, purple 50%, blue 50%);
}

.cell.cone.selected {
    background: linear-gradient(to bottom left, yellow 50%, blue 50%);
}

.cell.cube.done {
    background: linear-gradient(to bottom left, green 50%, purple 50%);
}

.cell.cone.done {
    background: linear-gradient(to bottom left, green 50%, yellow 50%)
}

.cell.done.selected {
    background: linear-gradient(to bottom left, green 50%, blue 50%);
}

.bottom-bar {
    position: absolute;
    bottom: 2vh;
    width: 80vw;
    left: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}